aiosignal
alabaster
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout
attrs
Babel
backcall
beautifulsoup4
biopython
bleach
brendapy
cached-property
cffi
chardet
charset-normalizer
colorama
commonmark
ConfigArgParse
connection-pool
coverage
cycler
datrie
debugpy
decorator
defusedxml
depinfo
distlib
docutils
dpath
entrypoints
ete3
executing
fastjsonschema
filelock
fonttools
frozenlist
gitdb
GitPython
idna
imagesize
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
jedi
Jinja2
jsonschema
jupyter-book
jupyter-cache
jupyter-client
jupyter-core
jupyter-server
jupyter-server-mathjax
jupyter-sphinx
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
latexcodec
linkify-it-py
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mistune
multidict
myst-nb
myst-parser
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
plac
platformdirs
pluggy
prometheus-client
prompt-toolkit
pronto
psutil
ptyprocess
PuLP
pure-eval
py
py3Dmol
pybtex
pybtex-docutils
pycparser
pydantic
pydata-sphinx-theme
Pygments
pymetadata
pyparsing
PyQt5
PyQt5-sip
pyrsistent
pytest
pytest-cov
python-dateutil
pytz
PyYAML
pyzmq
ratelimiter
regex
requests
requests-file
requests-toolbelt
retry
rich
scikit-learn
seaborn
Send2Trash
six
smart-open
smmap
snakemake
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-external-toc
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx-thebe
sphinx-togglebutton
sphinx_design
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
stack-data
stopit
tabulate
terminado
tinycss2
toml
tomli
toposort
tornado
tox
traitlets
typing_extensions
uc-micro-py
ujson
urllib3
uuid
virtualenv
wcwidth
webencodings
websocket-client
widgetsnbextension
wrapt
xmltodict
yarl
yte
zeep
zipp